@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@keyframes animatedBackground_b{
  0% {background-color: #ff8b00}
  10% {background-color: #e8ff00}
  20% {background-color: #5dff00}
  30% {background-color: #00ff2e}
  40% {background-color: #00ffb9}
  50% {background-color: #00b9ff}
  60% {background-color: #002eff}
  70% {background-color: #5d00ff}
  80% {background-color: #e800ff}
  90% {background-color: #ff008b}
  100% {background-color: #ff0000}
}
@media (prefers-color-scheme: dark){
  a:link {color:#9cf}
  a:hover, a:visited:hover {color:#cef}
  a:visited {color:rgb(179, 184, 255)}
}

* {
  margin: auto;
  font-family: 'Muli', sans-serif;
  font-size: 14px;
}

body {
	color: #dad3db;
	background-image: linear-gradient(rgba(32, 21, 63, 0.4),rgba(97, 41, 78, 0.4)),url("img/bg.jpeg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.box {
    width: 600px;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    margin-top: 10px;
    color: #dad3db;
    border-radius: 15px;
    display:flex;
}

.downloadcv {
	border-radius:15px;
	padding: 8px 1ch;
	background: rgba(0, 0, 0, 0.6);
	position: fixed;
	display:block;
	top: 8px;
	right:8px; 
	text-decoration: none;
}

.fitbox {
    width: fit-content;
    background: rgba(0, 0, 0, 0.6);
    padding: 5px;
    margin-top: 10px;
    color: #dad3db;
    border-radius: 15px;
    display:flex;
}

.boximg {
  padding: 1px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation: animatedBackground_b 10s linear infinite alternate;
}

.box article {
  margin: 10px;
}

.box h1, p {
  text-align: left;
  margin: auto;
}

.box h1 {
  font-size: 20px;
  font-weight: 900;
}
.box h2 {
	font-size 18px;
	font-weight: 700;
}

.fitbox article {
  margin: 10px;
}

.fitbox h1, p {
  text-align: center;
  margin: auto;
}

br {
	display: block;
	margin: 5px 0;
}

ul {
	padding-left: 10px;
}

.fitbox h1 {
  font-size: 22px;
}
  font-weight: 900;
